page-login {
    .login{
        background-color: #ffff;
        color:#121212;
    }

    #logo{
        padding:20% 20% 5% 20%;
        
    }

    #list{
        margin:20px;
    }
    
    .link{
       text-align: center;
    }
    
}
